/* *{
  outline: solid 1px black;
} */

.top{
  background: rgb(247,243,243);
background: linear-gradient(45deg, rgba(247,243,243,1) 50%, rgba(196,160,197,1) 50%, rgba(80,12,90,1) 100%);
}

.top .btn{
  background: rgb(247,243,243);
background: linear-gradient(45deg, rgba(247,243,243,1) 50%, rgba(196,160,197,1) 50%, rgba(80,12,90,1) 100%);
}

.middle{
  background: rgb(245, 192, 93);
}

.card{
  border: 0;
}

footer div.row{
  background-color: rebeccapurple;
}

div.blank{
  border-bottom: solid 3px rebeccapurple;
}