*{
  outline: solid 1px black;
}

.top{
  background-color: rgb(245, 23, 23);
}

.middle{
  background: rgb(245, 192, 93);
}

.card{
  border: 0;
}

footer div.row{
  background-color: rebeccapurple;
}

div.blank{
  border-bottom: solid 3px rebeccapurple;
}